body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2831 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:343px;
  width:1000px;
  height:40px;
}
#u2832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:2px;
}
#u2833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:905px;
  width:1600px;
  height:1px;
}
#u2834 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2835 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:120px;
  width:437px;
  height:30px;
}
#u2835_input {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2836 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:80px;
  width:150px;
  height:30px;
}
#u2836_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
}
#u2836_input:disabled {
  color:grayText;
}
#u2837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:right;
}
#u2837 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:80px;
  width:100px;
  height:30px;
  font-size:14px;
  text-align:right;
}
#u2838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u2839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:right;
}
#u2839 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:120px;
  width:100px;
  height:30px;
  font-size:14px;
  text-align:right;
}
#u2840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u2841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u2841 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:290px;
  width:133px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u2842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u2843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1135px;
  height:2px;
}
#u2843 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:334px;
  width:1134px;
  height:1px;
}
#u2844 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2845 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:160px;
  width:437px;
  height:120px;
}
#u2846 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2847 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:160px;
  width:437px;
  height:120px;
}
#u2847_input {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:120px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:right;
}
#u2848 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:160px;
  width:100px;
  height:30px;
  font-size:14px;
  text-align:right;
}
#u2849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u2850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:right;
}
#u2850 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:348px;
  width:100px;
  height:30px;
  font-size:14px;
  text-align:right;
}
#u2851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u2852 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:348px;
  width:121px;
  height:30px;
}
#u2852_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
}
#u2852_input:disabled {
  color:grayText;
}
#u2853 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:348px;
  width:137px;
  height:30px;
}
#u2853_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:right;
}
#u2854 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:348px;
  width:100px;
  height:30px;
  font-size:14px;
  text-align:right;
}
#u2855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u2856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2856 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:393px;
  width:1000px;
  height:40px;
}
#u2857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:right;
}
#u2858 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:398px;
  width:100px;
  height:30px;
  font-size:14px;
  text-align:right;
}
#u2859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u2860 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:398px;
  width:121px;
  height:30px;
}
#u2860_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
}
#u2860_input:disabled {
  color:grayText;
}
#u2861 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:398px;
  width:137px;
  height:30px;
}
#u2861_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u2862 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:398px;
  width:100px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u2863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u2864 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:398px;
  width:135px;
  height:30px;
}
#u2864_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2865 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:398px;
  width:63px;
  height:30px;
}
#u2865_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:right;
}
#u2866 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:398px;
  width:57px;
  height:30px;
  font-size:14px;
  text-align:right;
}
#u2867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u2868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u2868 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:398px;
  width:267px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u2869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:267px;
  word-wrap:break-word;
}
#u2870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2870 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:290px;
  width:857px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:857px;
  word-wrap:break-word;
}
#u2872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2872 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:500px;
  width:120px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2873 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u2874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2874 {
  border-width:0px;
  position:absolute;
  left:1536px;
  top:4px;
  width:40px;
  height:40px;
  font-size:20px;
}
#u2874_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2874.mouseOver {
}
#u2875 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u2876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u2876 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:0px;
  width:547px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u2877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:547px;
  word-wrap:break-word;
}
#u2878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1583px;
  height:2px;
}
#u2878 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:51px;
  width:1582px;
  height:1px;
}
#u2879 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1578px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1135px;
  height:2px;
}
#u2880 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:467px;
  width:1134px;
  height:1px;
}
#u2881 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2882 {
  position:absolute;
  left:562px;
  top:88px;
  visibility:hidden;
}
#u2882_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:500px;
  height:300px;
  background-image:none;
}
#u2882_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.898039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:300px;
}
#u2884 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u2885 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:100px;
  width:415px;
  height:70px;
  font-size:16px;
  text-align:center;
}
#u2886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:415px;
  word-wrap:break-word;
}
#u2887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u2887 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:5px;
  width:30px;
  height:30px;
  font-size:20px;
  color:#999999;
}
#u2887_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u2887.mouseOver {
}
#u2888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u2889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2889 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:250px;
  width:100px;
  height:30px;
}
#u2889_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2889.mouseOver {
}
#u2890 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2882_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:415px;
  height:70px;
  visibility:hidden;
  background-image:none;
}
#u2882_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:70px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:70px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:415px;
  word-wrap:break-word;
}
#u2893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2893 {
  border-width:0px;
  position:absolute;
  left:1415px;
  top:348px;
  width:161px;
  height:77px;
}
#u2894 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u2895 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:355px;
  width:100px;
  height:16px;
}
#u2896 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2895_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2897 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:405px;
  width:100px;
  height:16px;
}
#u2898 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2897_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
