body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:1877px;
  width:120px;
  height:50px;
  font-size:16px;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:1878px;
  width:120px;
  height:50px;
  font-size:16px;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:1877px;
  width:120px;
  height:50px;
  font-size:16px;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:1877px;
  width:120px;
  height:50px;
  font-size:16px;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:2px;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:905px;
  width:1600px;
  height:1px;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:48px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:70px;
  width:133px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
#u1844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:70px;
  width:133px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
#u1846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:135px;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:254px;
  width:1299px;
  height:134px;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:59px;
  width:1295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:54px;
}
#u1848p000 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:27px;
  width:78px;
  height:3px;
  -webkit-transform:rotate(3deg);
  -moz-transform:rotate(3deg);
  -ms-transform:rotate(3deg);
  transform:rotate(3deg);
}
#u1848p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:78px;
  height:4px;
}
#u1848p001 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:31px;
  width:64px;
  height:4px;
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  -ms-transform:rotate(5deg);
  transform:rotate(5deg);
}
#u1848p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:66px;
  height:6px;
}
#u1848p002 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:16px;
  width:126px;
  height:6px;
  -webkit-transform:rotate(-15deg);
  -moz-transform:rotate(-15deg);
  -ms-transform:rotate(-15deg);
  transform:rotate(-15deg);
}
#u1848p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:6px;
}
#u1848p003 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:1px;
  width:33px;
  height:3px;
  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  transform:rotate(-5deg);
}
#u1848p003_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:4px;
}
#u1848p004 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:0px;
  width:92px;
  height:3px;
  -webkit-transform:rotate(-1deg);
  -moz-transform:rotate(-1deg);
  -ms-transform:rotate(-1deg);
  transform:rotate(-1deg);
}
#u1848p004_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:94px;
  height:4px;
}
#u1848p005 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:0px;
  width:68px;
  height:2px;
  -webkit-transform:rotate(1deg);
  -moz-transform:rotate(1deg);
  -ms-transform:rotate(1deg);
  transform:rotate(1deg);
}
#u1848p005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:2px;
}
#u1848p006 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:4px;
  width:73px;
  height:3px;
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  -ms-transform:rotate(5deg);
  transform:rotate(5deg);
}
#u1848p006_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:74px;
  height:4px;
}
#u1848p007 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:5px;
  width:137px;
  height:8px;
}
#u1848p007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:138px;
  height:10px;
}
#u1848p008 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:14px;
  width:154px;
  height:7px;
  -webkit-transform:rotate(7deg);
  -moz-transform:rotate(7deg);
  -ms-transform:rotate(7deg);
  transform:rotate(7deg);
}
#u1848p008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:8px;
}
#u1848p009 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:35px;
  width:103px;
  height:4px;
  -webkit-transform:rotate(9deg);
  -moz-transform:rotate(9deg);
  -ms-transform:rotate(9deg);
  transform:rotate(9deg);
}
#u1848p009_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:104px;
  height:6px;
}
#u1848p010 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:43px;
  width:166px;
  height:10px;
  -webkit-transform:rotate(-177deg);
  -moz-transform:rotate(-177deg);
  -ms-transform:rotate(-177deg);
  transform:rotate(-177deg);
}
#u1848p010_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:168px;
  height:12px;
}
#u1848p011 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:38px;
  width:100px;
  height:16px;
  -webkit-transform:rotate(-12deg);
  -moz-transform:rotate(-12deg);
  -ms-transform:rotate(-12deg);
  transform:rotate(-12deg);
}
#u1848p011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u1848.compound {
  width:0px;
  height:0px;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:766px;
  width:1143px;
  height:53px;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:1139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:70px;
  width:133px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
#u1853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:60px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:0px;
  width:120px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:116px;
  word-wrap:break-word;
}
#u1857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#1E1E1E;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:0px;
  width:120px;
  height:60px;
  font-size:18px;
  color:#1E1E1E;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:116px;
  word-wrap:break-word;
}
#u1859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#1E1E1E;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:0px;
  width:120px;
  height:60px;
  font-size:18px;
  color:#1E1E1E;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:116px;
  word-wrap:break-word;
}
#u1861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#1E1E1E;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:0px;
  width:120px;
  height:60px;
  font-size:18px;
  color:#1E1E1E;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:116px;
  word-wrap:break-word;
}
#u1863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#1E1E1E;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:0px;
  width:120px;
  height:60px;
  font-size:18px;
  color:#1E1E1E;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:116px;
  word-wrap:break-word;
}
#u1865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  text-align:left;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:0px;
  width:376px;
  height:60px;
  font-size:22px;
  text-align:left;
}
#u1866 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:372px;
  word-wrap:break-word;
}
#u1867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u1867 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:50px;
  height:50px;
}
#u1868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u1869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#1E1E1E;
}
#u1869 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:0px;
  width:120px;
  height:60px;
  font-size:18px;
  color:#1E1E1E;
}
#u1870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:116px;
  word-wrap:break-word;
}
#u1871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#1E1E1E;
}
#u1871 {
  border-width:0px;
  position:absolute;
  left:1309px;
  top:0px;
  width:120px;
  height:60px;
  font-size:18px;
  color:#1E1E1E;
}
#u1872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:116px;
  word-wrap:break-word;
}
#u1873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1873 {
  border-width:0px;
  position:absolute;
  left:1552px;
  top:10px;
  width:40px;
  height:40px;
  font-size:10px;
}
#u1874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u1875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1875 {
  border-width:0px;
  position:absolute;
  left:1502px;
  top:10px;
  width:40px;
  height:40px;
  font-size:10px;
}
#u1876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u1877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1877 {
  border-width:0px;
  position:absolute;
  left:1452px;
  top:10px;
  width:40px;
  height:40px;
  font-size:10px;
}
#u1878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u1879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1879 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:314px;
  width:300px;
  height:15px;
}
#u1880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
